{% extends "attendance/index.html" %}

{% block swipe_card_form %}
<!-- Fill this empty block from index with the form for RFID. -->
<h1>
    Please, swipe your card to check in/out
</h1>

{% if error_message %}
<p>
    <strong>
        {{ error_message }}
    </strong>
</p>
{% endif %}

{% if member %}
<p>
    <strong>Latest transaction:</strong>
    {% if member.checked_in %}
    {{ member.f_name }} {{ member.l_name }} checked in.
    {% else %}
    {{ member.f_name }} {{ member.l_name }} checked out.
    {% endif %}
</p>
{% endif %}

<form action="{% url 'attendance:checkInOut' %}" method="post" id='rfid_form'>
    {% csrf_token %}
    RFID: <input type="text" name="RFID" id='rfid_field'>
</form>

<script type="text/javascript">rfid_form.rfid_field.focus();</script>
{% endblock %}

{% block link_to_swipe %}
    <!--Remove the link which point from index to this page-->
{% endblock %}
