<h1>
    Please, swipe your card to check in/out
</h1>

{% if error_message %}
<p>
    <strong>
        {{ error_message }}
    </strong>
</p>
{% endif %}

{% if member %}
<p>
    <strong>Latest transaction:</strong>
    {% if member.checked_in %}
    {{ member.f_name }} {{ member.l_name }} checked in.
    {% else %}
    {{ member.f_name }} {{ member.l_name }} checked out.
    {% endif %}
</p>
{% endif %}

<form action="{% url 'attendance:checkInOut' %}" method="post" id='rfid_form'>
    {% csrf_token %}
    RFID: <input type="text" name="RFID" id='rfid_field'>
</form>

<script type="text/javascript">rfid_form.rfid_field.focus();</script>

<h1>Members currently checked in</h1>
{% if members_checked_in %}
    <ul>
    {% for member in members_checked_in %}
        <li>{{ member.f_name }} {{ member.l_name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No member is currently checked in.</p>
{% endif %}